.navigation {
  $self: &;
  display: flex;
  flex-direction: column;

  &__item {
    font-family: $font-family-gilroy-regular;
    font-size: $spacer * 1.875;
    line-height: $spacer * 3;
    font-weight: 600;

    & + & {
      margin-top: $spacer * 4;
    }
  }

  &__link {

  }

  @media (min-width: $md) {
    flex-direction: row;

    &__item {

      & + & {
        margin-top: 0;
        margin-left: $spacer * 4;
      }
    }

  }

}

.navigation-action {
  $self: &;
  margin-left: $spacer * 6.5;
  display: flex;
  align-items: center;

  &__item {
    font-family: $font-family-gilroy-regular;
    font-size: $spacer * 1.75;
    line-height: $spacer * 2.5;
    font-weight: 600;

    & + & {
      margin-left: $spacer * 4;
    }
  }
}


