.contact__submitted
    .contact__submitted-content
        .content__icon
            include ../../svg/Contacs.svg
        .h2 Дякуємо &nbsp;
            br
            | за співпрацю!
        p.text-m Приєднуйтесь до нашого телеграм-каналу за посиланням
        .contact__item
            include ../../svg/telegram_1.svg
            a(href="tg://resolve?domain=lang-uk").text-m--bold @lang-uk