.contact-us
    .contact__content
        .h0 Контакти
        .contact
            a.contact__item
                span.h4 e:
                span.h3 ouremail@gmail.com
            a.contact__item
                span.h4 t:
                span.h3 +38 (095) 123 45 67
            a.contact__item
                include ../../svg/telegram_1.svg
                span.h3 @lang-uk