.contact-us
    .contact__content
        .h0 Контакти
        .contact
            .contact__item
                span.h4 e:
                a(href="mailto: ouremail@gmail.com").h3 ouremail@gmail.com
            .contact__item
                span.h4 t:
                a(href="tel:+38 (095) 123 45 67").h3 +38 (095) 123 45 67
            .contact__item
                include ../../svg/telegram_1.svg
                a(href="tg://resolve?domain=lang-uk").h3 @lang-uk