.breadcrumbs {
  display: flex;
  margin-top: $spacer * 4;

  &__item {
    display: inline-block;
    color: $color-grey-1;
    text-decoration: none;
    font-size: 14px;

    & + & {
      &:before {
        content: '/';
        margin: 0 $spacer / 2;
      }
    }
  }

  @media (min-width: $sm) {
    margin-top: $spacer * 8;
  }
}