.button-wave {
  $self: &;
  transition: .6s all ease;
  transform: translateY(0);
  position: relative;
  overflow: hidden;
  border: 0.125rem solid $color-black;
  color: $color-white;
  background: $color-black;

  &__wave {
    transform: scale(0);
    height: 0.125rem;
    width: 0.125rem;
    border-radius: 50%;
    transition: .6s all linear;
    position: absolute;
    z-index: -1;
    background: $color-bg;
  }

  &:hover {
    color: $color-black;
  }

  &--wave-white{
    #{$self}__wave {
      background: $color-white;
    }
  }

  &--transparent {
    color: $color-black;
    background: transparent;

    #{$self}__wave {
      background: $color-black;
    }

    &:hover {
      color: $color-white;
      fill: $color-white;
    }
  }

  &__wave.button-wave__restore {
    position: absolute;
    transform: scale(900);
    z-index: -1;
  }

  @media (min-width: $sm) {
    &__wave.button-wave__restore {
      transform: scale(250);
    }
  }
}
