.button-wave {
    $self: &;
    transform: translate3d(0, 0, 0);
    position: relative;
    z-index: 3;
    overflow: hidden;
    clip-path: inset(0px 0px 0px round 60px);
    color: $color-white;
    background: $color-black;
    transition: color .4s;

    &::before {
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        background: $color-primary;
        top: 0;
        left: 0;
        right: 0;
        height: 200%;
        border-radius: 40%;
        transform: translate3d(0, 55%, 0);
        transition: transform .4s ease-in 0s, border-radius .5s ease .1s;
    }

    &:hover {
        color: $color-black;

        &::before {
            transform: translate3d(0, 0%, 0);
            border-radius: 10%;
        }
    }


    &--transparent {
        color: $color-black;
        background: transparent;
        border: 2px solid $color-black;

        &::before {
            background: $color-black;
        }

        &:hover {
            color: $color-white;
            fill: $color-white;
        }
    }

    &--produckt {
        color: $color-black;
        background: $color-primary;
        border: none;
        height: 48px;
        width: 196px;
        padding: $spacer * 1.5 $spacer * 3;
        font-family: $font-family-open-sans;
        font-weight: bold;
        font-size: 14px;
        line-height: $spacer * 3;
        white-space: nowrap;

        #{$self}__wave {
            background: $color-black;
        }

        &::before {
            background: $color-black;
        }

        &:hover {
            color: $color-white;
        }
    }
}
