.button-fill-animation-container {
  $self: &;
  border-top: $spacer / 4 solid $color-black;
  border-bottom: $spacer / 4 solid $color-black;
  display: flex;
  width: fit-content;
  position: relative;

  &:before, &:after {
    content: '';
    position: absolute;
    height: 100%;
    width: $spacer / 4;
    background: $color-black;
  }

  &:before {
    right: $spacer / -4;
  }

  &:after {
    left: $spacer / -4;
  }

  &__item {
    & + & {
      border-left: $spacer / 4 solid $color-black;
    }
  }
}

.button-fill-animation {
  $self: &;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 12px;
  font-weight: bold;
  width: $spacer * 5.75;
  height: $spacer * 3.5;
  border: none;
  background: transparent;
  cursor: pointer;

  &__content {
    display: flex;
    color: $color-black;
    fill: $color-black;
    position: relative;
    transition: color 0.4s ease-in-out;

    .svg-icon--stroke {
      stroke: $color-black;
    }
  }


  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: $color-black;
    transition: width 0.4s cubic-bezier(0.25, 1, 0.5, 1);
  }


  @media (hover: hover) and (pointer: fine) {
    &:hover &__content {
      color: $color-white;
      fill: $color-white;
      transition: color 0.6s ease-in-out;

      .svg-icon--stroke {
        stroke: $color-white;
      }
    }
    &:hover::before {
      left: 0;
      right: auto;
      width: 100%;
    }
  }
}