.copy {
    display: flex;
    flex-direction: row;
    background: $color-white;
    border-radius: $spacer;
    padding: $spacer * 3.5;
    //margin-top: $spacer * 2;

    &__text {
        margin-top: $spacer;
        flex: 1;
        font-family: $font-family-ibm-pm-regular;
        margin-right: $spacer;
        word-break: break-word;
    }

    &__button {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 0;
        margin: 0;
        border: none;
        box-shadow: none;
        background: none;

        .copy__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 1;
            transition: 0.3s;

            svg {
                width: 100%;
                height: 100%;
                transform: translate3d(0, 0, 0);
            }
        }

        .copy__icon--hover {
            opacity: 0;
        }

        &:hover {
            .copy__icon {
                opacity: 0;
            }

            .copy__icon--hover {
                opacity: 1;
            }
        }

        // &:hover {
        //     //transform: scale(1.05);
        //     transition: 0.3s all ease;
        // }
        // path {
        //     transition: 0.3s;
        // }

        // &:hover path {
        //     stroke: #aae2bf;

        //     &.second-path {
        //         fill: #aae2bf;
        //     }
        // }

        // &:active {
        //     transform: scale(1);
        //     transition: 0.3s all ease;
        // }
    }
}
