.separator{
  display: flex;
  width: 100%;

  &__icons{
    padding-top: $spacer * 3;
  }

  &--line{
    border-top: 1px solid $color-black;
  }

  &--icon-center{
    justify-content: center;
  }

  &--icon-right{
    justify-content: flex-end;
  }
}

.separator-icon{
  display: flex;

  @include spacer-h('item', 1);
}