.underline-animation {
    position: relative;
    text-decoration: none;

    &:before {
        content: "";
        position: absolute;
        bottom: -0.125rem;
        right: 0;
        width: 0;
        height: 2px;
        background-color: $color-black;
        transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover::before {
            left: 0;
            right: auto;
            width: 100%;
        }
    }
}

.underline-animation-reverse {
    position: relative;
    text-decoration: none;

    &:before {
        content: "";
        position: absolute;
        bottom: -0.125rem;
       
        height: 2px;
        background-color: $color-black;
        transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);

        left: 0;
        right: auto;
        width: 100%;
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover::before {
            right: 0;
            left: auto;
            width: 0;
        }
    }
}
