.intro
	.cols
		.cols__item.cols__item--md
			p.h0.intro__title Продукти
		.cols__item.cols__item--md
			.intro__image
				img(src="./img/pp_1.png")
	span.intro__actions
		.intro__button
.separator.separator--line
