.our__team {
  @include flex-column;
  overflow: hidden;
  width: calc(100% + 2 * 16px);
  margin-left: -16px;
  margin-right: -16px;

  @media (min-width: $sm) {
    margin-bottom: $spacer * 13;
  }

  .team__items {
    @include flex-column;
    justify-content: space-between;
    width: 100%;
    margin: $spacer * 12 auto $spacer * 11.5;

    @media (min-width: $xs) {
      margin: $spacer * 15.5 auto 0;
      @include flex-row;
      justify-content: center;
      column-gap: 1rem;
    }

    @media (min-width: 769px) {
      margin: $spacer * 24 auto 0;
      @include flex-row;
      justify-content: center;
      column-gap: 76px;
    }

    @media (min-width: $md) {
      margin: $spacer * 24 auto 0;
      @include flex-row;
      justify-content: center;
      column-gap: 224px;
    }

    .team__item {
      max-width: 328px;
      margin-bottom: 22px;

      @media (min-width: $xs) {
        max-width: 276px;
        width: calc(50% - 0.5rem);
        padding-bottom: 0;
      }

      @media (min-width: $md) {
        max-width: 352px;
        width: calc(50% - 0.5rem);
      }
    }

    .team__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      max-width: 100%;
      max-height: 296px;

      @media (min-width: $xs) {
        max-height: 256px;
      }

      @media (min-width: $md) {
        max-height: 324px;
      }

      .icon {
        width: 100%;
        height: 100%;
        padding: 28px 28px 16px;
        object-fit: cover;

        @media (min-width: $xs) {
          padding: 0;
        }
      }

      .team__hand {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 16px;
        overflow: hidden;

        @media (min-width: $xs) {
          top: 0;
        }

        .team__hand-icon {
          position: absolute;
          bottom: -150px;
          right:34px;
          opacity: 0;
          transition: all 1s;
        }

        .team__hand-icon2 {
          position: absolute;
          bottom: -150px;
          left: 34px;
          opacity: 0;
          transition: all 1s;
        }
      }

      .team__hand:hover .team__hand-icon,
      .team__hand:hover .team__hand-icon2 {
        opacity: 1;
        bottom: -8px;
      }

      .team__hand2 {
        position: absolute;
        left: 32px;
        bottom: 0;
        transition: all 0.25s;
      }

      .icon:hover .team__hand {
        display: none;
      }

      .team__item-line {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }

      .line1 {
        position: absolute;
        top: 0;
        left: -28px;
        width: calc(100% + 2 * 28px);
        height: 1px;
        background: black;


        @media (min-width: $xs) {
          left: -76px;
          width: calc(100% + 2 * 76px);
        }

        @media (min-width: $md) {
          left: -96px;
          width: calc(100% + 2 * 96px);
        }
      }

      .top {
        display: none;
      }

      .line2 {
        position: absolute;
        left: 0;
        top: -28px;
        height: calc(100% + 2 * 88px);
        width: 1px;
        background: black;

        @media (min-width: $xs) {
          top: -84px;
          height: calc(100% + 2 * 84px);
        }

        @media (min-width: $md) {
          top: -88px;
          height: calc(100% + 2 * 88px);
        }
      }

      .line3 {
        position: absolute;
        bottom: -100px;
        left: -28px;
        width: calc(100% + 2 * 28px);
        height: 1px;
        background: black;

        @media (min-width: $xs) {
          display: block;
          bottom: 0;
          left: -76px;
          width: calc(100% + 2 * 76px);
        }

        @media (min-width: $md) {
          display: block;
          bottom: 0;
          left: -96px;
          width: calc(100% + 2 * 96px);
        }
      }

      .line4 {
        position: absolute;
        right: 0;
        top: -28px;
        height: calc(100% + 2 * 88px);
        width: 1px;
        background: black;

        @media (min-width: $xs) {
          top: -84px;
          height: calc(100% + 2 * 84px);
        }

        @media (min-width: $md) {
          top: -88px;
          height: calc(100% + 2 * 88px);
        }
      }
    }

    .team__item-content {
      padding: 0 0 0 $spacer * 3.5;

      @media (min-width: $xs) {
        padding-top: $spacer * 1.5;
      }

      @media (min-width: $md) {
        padding: $spacer * 2.5 0 $spacer * 0.5 $spacer * 2.5;
      }
      .team__info-socialnetworks {
        a {
          text-decoration: none;
        }

        svg {
          fill: gray;
        }
      }

      .caption-2 {
        padding: 0 0 $spacer * 1.25;
      }
    }
  }

  @media (max-width: 575px) {
    .team__items .team__item:nth-child(1) .line2 {
      height: calc(100% + 72px + 28px);
    }

    .team__items .team__item:nth-child(1) .line4 {
      height: calc(100% + 72px + 28px);
    }
  }

  @media (min-width: $xs) {
    .team__items .team__item:nth-child(1) .line1 {
      width: calc(100% + 16px);
    }

    .team__items .team__item:nth-child(1) .line3 {
      width: calc(100% + 16px);
    }
  }

  @media (min-width: 769px) {
    .team__items .team__item:nth-child(1) .line1 {
      width: calc(100% + 76px);
    }

    .team__items .team__item:nth-child(1) .line3 {
      width: calc(100% + 76px);
    }
  }

  @media (min-width: $md) {
    .team__items .team__item:nth-child(1) .line1 {
      width: calc(100% + 224px);
    }

    .team__items .team__item:nth-child(1) .line3 {
      width: calc(100% + 224px);
    }
  }
}