.team__helper {
    @include flex-column;
    margin-bottom: $spacer * 7.5;

    .h2 {
        @media (min-width: $lg) {
            max-width: 46rem;
        }
    }

    .team__heart {
        margin: $spacer * 5.6 0;

        @media (min-width: $lg) {
            margin: $spacer * 8.6 0;
        }
    }

    .team__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;

        @media (min-width: $xs) {
            grid-template-columns: repeat(3, 1fr);
            row-gap: 1.5rem;
        }

        @media (min-width: 1120px) {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 2rem;
            row-gap: 2.15rem;
        }

        .team__item {
            max-width: 9.75rem;

            &:nth-child(8n + 1) .icon {
                border-radius: 50%;
            }

            &:nth-child(8n + 2) .icon {
                border-radius: 0;
            }

            &:nth-child(8n + 3) .icon {
                border-top-right-radius: 50%;
                border-top-left-radius: 50%;
            }

            &:nth-child(8n + 4) .icon {
                border-radius: 0;
            }

            &:nth-child(8n + 5) .icon {
                border-radius: 0;
            }

            &:nth-child(8n + 6) .icon {
                border-bottom-right-radius: 50%;
                border-bottom-left-radius: 50%;
            }

            &:nth-child(8n + 7) .icon {
                border-radius: 0;
            }

            &:nth-child(8n + 8) .icon {
                border-top-left-radius: 50%;
                border-bottom-left-radius: 50%;
            }

            .team__icon {
                width: 100%;

                .icon {
                    transition: 0.8s;
                }

                .icon:hover {
                    border-radius: 0;
                    transition: 0.8s;
                }
            }

            @media (min-width: $sm) {
                max-width: 14.25rem;
            }
            @media (min-width: 1120px) {
                max-width: 16rem;
            }

            .team__info-socialnetworks {
               display: flex;
                align-items: flex-start;
                flex-wrap: wrap;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 20px;
                    height: 20px;
                    text-decoration: none;

                    &:not(:last-child) {
                        margin-right: 8px;
                    }

                    &:hover {
                        svg {
                            fill: $color-primary-dark;

                            &.svg-icon--stroke path {
                                fill: $color-primary-dark;
                                stroke: $color-primary-dark;
                            }
                        }
                    }
                }

                svg {
                    fill: $color-grey-1;
                    transition: 0.2s;

                    &.svg-icon--stroke {
                        fill: none;
                        transition: 0;

                        path {
                            transition: 0.2s;
                            fill: $color-grey-1;
                            stroke: $color-grey-1;
                        }
                        
                    }
                }
            }
        }

        .text-m--bold {
            padding-top: $spacer * 2;
        }

        .caption-2 {
            padding: $spacer * 0.5 0 $spacer * 1.25;
        }
    }
}
