.become-part
	.become-part__container
		p.become-part__title Стань частиною проєкту, який змінить майбутнє країни
		.become-part__actions
			.spacer.spacer--h-sm
				.spacer__item
					button.button.button-wave.button-wave--transparent.spacer__item Залишити видгук
				.spacer__item
					a(href="add-product.html").button.button-wave.spacer__item Доповнити продукт
	.svg-hover
		img(src="./img/Hover.svg")