.become-part {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-bottom: $spacer * 13;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    background: $color-white;
    padding: $spacer * 7 $spacer * 5;
  }

  &__title {
    font-family: $font-family-gilroy-bold;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
  }

  &__actions {
    margin-top: $spacer * 4;
  }

  @media (min-width: $sm) {
    background: url("../img/grid.png") no-repeat center;
    background-size: contain;
    padding: 8% 10.65%;
    // TODO: fix height
    height: 748px;

    &__container {
      height: 100%;
      padding: $spacer * 4;
    }

    &__title {
      font-size: 52px;
      line-height: 60px;
      text-align: left;
    }

    &__actions {
      margin-top: $spacer * 2;
    }

  }

  @media (min-width: $md) {

    &__container {
      padding: $spacer * 8;
    }

    &__title {
      font-size: 72px;
      line-height: 72px;
    }

    &__actions {
      margin-top: $spacer * 6;
    }
  }

  @supports (aspect-ratio: 100/63.125) {

    @media (min-width: $sm) {
      height: initial;
      aspect-ratio: 100/63.125;
    }
  }
}
