.become-part {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: $spacer * 8;
    margin-bottom: $spacer * 8;

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: calc(100% + 2 * 16px);
        margin-left: -16px;
        margin-right: -16px;
        background: $color-white;
        // padding: $spacer * 7 $spacer * 5;
        padding: 56px 40px 64px;
        z-index: 9;

        //@media (min-width: 440px) {
        //  padding: $spacer * 7 $spacer * 8;
        //}
        //
        //@media (min-width: $xs) {
        //  padding: $spacer * 7 $spacer * 12;
        //}

        @media (min-width: $sm) {
            width: 100%;
        }
    }

    &__title {
        font-family: $font-family-gilroy-bold;
        font-size: 32px;
        line-height: 36px;
        text-align: center;
    }

    &__actions {
        // margin-top: $spacer * 4;
        margin-top: 32px;
    }

    @media (min-width: $xs) {
        margin-top: $spacer * 13;
    }

    @media (min-width: $sm) {
        // background: url("../img/grid.png") no-repeat center;
       
        // padding: 8.5%;
        padding: calc(72px) calc(8.5% + 2px);
        // TODO: fix height
        // height: 614px;
        height: auto;
        margin-top: $spacer * 20;
        margin-bottom: $spacer * 13;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            background: url("../img/grid.svg") no-repeat;
            background-size: cover;
        }

        &__container {
            height: 100%;
            // padding: $spacer * 4;
            padding: 40px 32px 48px;
        }

        &__title {
            font-size: 52px;
            line-height: 60px;
            text-align: left;
        }

        &__actions {
            margin-top: $spacer * 2;
        }
    }

    @media (min-width: $md) {
        // TODO: fix height
        // height: 748px;
        padding: calc(8.5% + 4px) calc(8.5% + 2px);

        &__container {
            // padding: $spacer * 8;
            // padding: 8.5% 10.8% 8.5%;
            padding: 8.5% 10.4% 8.5%;
        }

        &__title {
            font-size: 72px;
            line-height: 72px;
        }

        &__actions {
            margin-top: $spacer * 6;
        }
    }

    @supports (aspect-ratio: 100/63.125) {
        // @media (min-width: $sm) {
        //     height: initial;
        //     aspect-ratio: 100/66.66;
        // }

        @media (min-width: $md) {
            // height: initial;
            // aspect-ratio: 100/66.66;
        }
    }

    .svg-hover {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        z-index: 0;

        transition: 0.8s;
        transform: scale(0.5);

        img {
            width: 100%;
            height: 100%;
            // object-fit: fill;
        }
    }

    &:hover .svg-hover {
        transition: 0.8s;
        transform: scale(1);

        @media (max-width: 767px) {
            opacity: 0;
        }
    }

    a span {
        background: $color-primary;
    }
    .add-product {
        .button-wave:hover {
            border: 0.125rem solid $color-white;
            background: $color-primary;
        }
    }
<<<<<<< HEAD
=======
  }
>>>>>>> 85d2e0d62a90d9ecfd96750629c17bb8d017cf80
}
