.become-part
	.become-part__container
		p.become-part__title Стань частиною проєкту, який змінить майбутнє країни
		.become-part__actions
			.spacer.spacer--h-sm
				.spacer__item
					button.button.button-wave.button-wave--transparent.spacer__item Залишити видгук
				.spacer__item
					a.button.button-wave.button-wave--wave-white.spacer__item(href="add-product.html") Доповнити продукт
	.svg-hover
		img(src="./img/Hover.svg")