.become-part {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: $spacer * 8;
  margin-bottom: $spacer * 8;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: calc(100% + 2 * 16px);
    margin-left: -16px;
    margin-right: -16px;
    background: $color-white;
    padding: $spacer * 7 $spacer * 5;
    z-index: 9;

    //@media (min-width: 440px) {
    //  padding: $spacer * 7 $spacer * 8;
    //}
    //
    //@media (min-width: $xs) {
    //  padding: $spacer * 7 $spacer * 12;
    //}


    @media (min-width: $sm) {
      width: 100%;
    }
  }

  &__title {
    font-family: $font-family-gilroy-bold;
    font-size: 32px;
    line-height: 36px;
    text-align: center;

  }

  &__actions {

    margin-top: $spacer * 4;
  }

  @media (min-width: $xs) {
    margin-top: $spacer * 13;
  }

  @media (min-width: $sm) {
    background: url("../img/grid.png") no-repeat center;
    background-size: 100% 100%;
    padding: 8.5%;
    // TODO: fix height
    height: 614px;
    margin-top: $spacer * 20;
    margin-bottom: $spacer * 13;

    &__container {
      height: 100%;
      padding: $spacer * 4;
    }

    &__title {
      font-size: 52px;
      line-height: 60px;
      text-align: left;
    }

    &__actions {
      margin-top: $spacer * 2;
    }
  }

  @media (min-width: $md) {
    // TODO: fix height
    height: 748px;

    &__container {
      padding: $spacer * 8;
    }

    &__title {
      font-size: 72px;
      line-height: 72px;
    }

    &__actions {
      margin-top: $spacer * 6;
    }
  }

  @supports (aspect-ratio: 100/63.125) {

    @media (min-width: $sm) {
      height: initial;
      aspect-ratio: 100/66.66;
    }
  }

  a:hover .button {
    background: #63BA84;
  }

  .svg-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .8s;

    svg {
      width: 100%;
      height: 100%;

    }
  }

  &:hover .svg-hover {
    opacity: 1;
    transition: .8s;
    @media (max-width: 767px) {
      opacity: 0;
    }

  }
}