// cookies/cookies.pug
.cookies__pop-up.popup--hide 
    .cookies__content
        .cookies__close
            include ../../svg/close.svg
        .cookies__title
            p.text-m Продовжуючи використовувати наш сайт, ви погоджуєтесь з використанням cookies
        .cookies__button
            button.button.button-wave.spacer__item Погодитися
            a(href="#").button.button-wave.button-wave--transparent.spacer__item Детальніше
// /cookies/cookies.pug