.info__about-us
    .aboutus__content
        .aboutus__content-subtitle.text-center
            p.text-l
                span.h4 Lang-uk
                |  - це відкрита для приєднання спільнота фахівців в галузі комп'ютерної обробки текстів (програмістів, лінгвістів, дослідників), яка побудована на єдиних принципах і буде займатися підтримкою наявних і розвитком нових проектів по збору українських корпусів та інших текстових даних.
        .aboutus__content-title.text-center
            p.h2 Основні напрямки роботи нашої групи
        .aboutus__content-items
            .content-item
                .item__icon
                    include ../../svg/triple_romb_column.svg
                p.text-m.text-center збір і публікація корпусів та інших наборів текстових даних українською мовою
            .content-item
                .item__icon
                    include ../../svg/double_romb_center.svg
                p.text-m.text-center створення на основі цих даних моделей для вирішення прикладних завдань обробки українських текстів
            .content-item
                .item__icon
                    include ../../svg/triple_romb_row.svg
                p.text-m.text-center імплементація цих моделей у наборі публічно-доступних мікросервісів


