// about-us/our_team.pug
.our__team
    p.h1 Наша команда
    .team__items
        .team__item
            .team__icon
                img.icon(src="./img/team_1.png")
                .team__item-line
                    .line1
                    .line2
                    .line3.top
                    .line4
                .team__hand
                    .team__hand-icon
                        include ../../svg/hand_1.svg
            .team__item-content
                p.text-m--bold Дмитро Чаплинський
                p.caption-2 Засновник групи
                .team__info-socialnetworks
                    a(href="#")
                        include ../../svg/github.svg
                    a(href="#")
                        include ../../svg/telegram.svg
                    a(href="#")
                        include ../../svg/icons8-facebook-f.svg
                    a(href="#")
                        include ../../svg/icons8-instagram.svg
        .team__item
            .team__icon
                img.icon(src="./img/team_2.png")
                .team__item-line
                    .line1
                    .line2
                    .line3
                    .line4
                .team__hand
                    .team__hand-icon2
                        include ../../svg/hand_2.svg
            .team__item-content
                p.text-m--bold Всеволод Дьомкін
                p.caption-2 Засновник групи
                .team__info-socialnetworks
                    a(href="#")
                        include ../../svg/github.svg
                    a(href="#")
                        include ../../svg/telegram.svg
                    a(href="#")
                        include ../../svg/icons8-facebook-f.svg
                    a(href="#")
                        include ../../svg/icons8-instagram.svg
// /about-us/our_team.pug