.team__helper
    p.h2.text-center В різних проектах допомогали нашій роботі волонтери
    .team__heart
        include ../../svg/heart.svg
        include ../../svg/heart.svg
        include ../../svg/heart.svg
    .team__items
        .team__item
            .team__icon
                img.icon(src="./img/helper_4.png")
            p.text-m--bold Анатолій Стегній
            p.caption-2 пост-обробка даних NER
            .team__info-socialnetworks
                include ../../svg/github.svg
                include ../../svg/telegram.svg
                include ../../svg/icons8-facebook-f.svg
                include ../../svg/icons8-instagram.svg
        .team__item
            .team__icon
                img.icon(src="./img/helper_2.png")
            p.text-m--bold Олександр Маріковський
            p.caption-2 надання первинних даних для тонального словника
            .team__info-socialnetworks
                include ../../svg/github.svg
                include ../../svg/telegram.svg
                include ../../svg/icons8-facebook-f.svg
                include ../../svg/icons8-instagram.svg
        .team__item
            .team__icon
                img.icon(src="./img/helper_2.png")
            p.text-m--bold В'ячеслав Тихонов
            p.caption-2 надання первинних даних для тонального словника
            .team__info-socialnetworks
                include ../../svg/github.svg
                include ../../svg/telegram.svg
                include ../../svg/icons8-facebook-f.svg
                include ../../svg/icons8-instagram.svg
        .team__item
            .team__icon
                img.icon(src="./img/helper_4.png")
            p.text-m--bold Олесь Петрів
            p.caption-2 розширення тонального словника
            .team__info-socialnetworks
                include ../../svg/github.svg
                include ../../svg/telegram.svg
                include ../../svg/icons8-facebook-f.svg
                include ../../svg/icons8-instagram.svg
        .team__item
            .team__icon
                img.icon(src="./img/helper_5.png")
            p.text-m--bold Христина Скопик
            p.caption-2 переклад англійською
            .team__info-socialnetworks
                include ../../svg/github.svg
                include ../../svg/telegram.svg
                include ../../svg/icons8-facebook-f.svg
                include ../../svg/icons8-instagram.svg
        .team__item
            .team__icon
                img.icon(src="./img/helper_6.png")
            p.text-m--bold Оксана Кунікевич
            p.caption-2 переклад англійською
            .team__info-socialnetworks
                include ../../svg/github.svg
                include ../../svg/telegram.svg
                include ../../svg/icons8-facebook-f.svg
                include ../../svg/icons8-instagram.svg
        .team__item
            .team__icon
                img.icon(src="./img/helper_7.png")
            p.text-m--bold Тетяна Кодлюк
            p.caption-2 розробка тестового датасету для Word Embeddings та їх оцінка
            .team__info-socialnetworks
                include ../../svg/github.svg
                include ../../svg/telegram.svg
                include ../../svg/icons8-facebook-f.svg
                include ../../svg/icons8-instagram.svg
        .team__item
            .team__icon
                img.icon(src="./img/helper_2.png")
            p.text-m--bold Сергій Шеховцов
            p.caption-2 розширення тонального словника
            .team__info-socialnetworks
                include ../../svg/github.svg
                include ../../svg/telegram.svg
                include ../../svg/icons8-facebook-f.svg
                include ../../svg/icons8-instagram.svg
        .team__item
            .team__icon
                img.icon(src="./img/helper_2.png")
            p.text-m--bold Михайло Чалий
            p.caption-2 розробка мікросервісу NER та Docker-скриптів для усіх мікросервісів
            .team__info-socialnetworks
                include ../../svg/github.svg
                include ../../svg/telegram.svg
                include ../../svg/icons8-facebook-f.svg
                include ../../svg/icons8-instagram.svg

