.about-us-section
	.separator.separator--line.separator--icon-right
		.separator__icons
			.separator-icon
				.separator-icon__item
					include ../../svg/triangle_1.svg
				.separator-icon__item
					include ../../svg/triangle_2.svg
				.separator-icon__item
					include ../../svg/triangle_1.svg
	.about-us-section__content
		.cols
			.cols__item.cols__item--md-4
				p.h2 Про нас
			.cols__item.cols__item--md-8
				p.text-l Lang-uk - це відкрита для приєднання спільнота фахівців в галузі комп'ютерної обробки текстів (програмістів, лінгвістів, дослідників), яка побудована на єдиних принципах і буде займатися підтримкою наявних і розвитком нових проектів по збору українських корпусів та інших текстових даних.
	.separator.separator--line
		.separator__icons
			.separator-icon
				.separator-icon__item
					include ../../svg/triangle_1.svg
				.separator-icon__item
					include ../../svg/triangle_2.svg
				.separator-icon__item
					include ../../svg/triangle_1.svg