.about-us-section
	.cols
		.cols__item--md-4
			p.h2 Про нас
		.cols__item--md-8
			p.text-l Lang-uk - це відкрита для приєднання спільнота фахівців в галузі комп'ютерної обробки текстів (програмістів, лінгвістів, дослідників), яка побудована на єдиних принципах і буде займатися підтримкою наявних і розвитком нових проектів по збору українських корпусів та інших текстових даних.
