.consumers.spacer.spacer--size-8
	.spacer__item
		p.h2.text-center Вже використовують наші продукти
	.spacer__item
		.consumers__container
			.consumers__card
				img.consumers__logo(src="./img/user_logo_1.svg")
			.consumers__card
				img.consumers__logo(src="./img/user_logo_2.svg")
			.consumers__card
				img.consumers__logo(src="./img/user_logo_3.svg")
			.consumers__card
				img.consumers__logo(src="./img/user_logo_2.svg")
	.separator.separator--icon-center.spacer__item.spacer__item--size-13
		.separator__icons
				.separator-icon
					.separator-icon__item
						include ../../svg/triangle_1.svg
					.separator-icon__item
						include ../../svg/triangle_2.svg
					.separator-icon__item
						include ../../svg/triangle_1.svg
