.healthy.spacer.spacer--size-8
	.spacer__item
		p.h1.text-center Кому це може бути корисно
	.spacer__item
		.healthy__content.spacer.spacer--size-8
			.spacer__item
				p.h3.text-center Науковцям
				p.text-m.text-m--regular.text-center Такі галузі як: філологія, журналістика використовують наші дані як основу для статей, наукових робіт та диссертацій
			.spacer__item
				p.h3.text-center Підприємцям
				p.text-m.text-m--regular.text-center Такі галузі як: філологія, журналістика використовують наші дані як основу для статей, наукових робіт та диссертацій
			.spacer__item
				p.h3.text-center Журналістам
				p.text-m.text-m--regular.text-center Як джерело для написання статей
