.healthy.spacer
	p.h1.text-center Кому це може бути корисно
	.healthy__content
		.healthy__item.spacer
			p.spacer__item.h3.text-center Науковцям
			p.spacer__item.text-m.text-m--regular.text-center Такі галузі як: філологія, журналістика використовують наші дані як основу для статей, наукових робіт та диссертацій
		.healthy__item.spacer
			p.spacer__item.h3.text-center Підприємцям
			p.spacer__item.text-m.text-m--regular.text-center Такі галузі як: філологія, журналістика використовують наші дані як основу для статей, наукових робіт та диссертацій
		.healthy__item.spacer
			p.spacer__item.h3.text-center Журналістам
			p.spacer__item.text-m.text-m--regular.text-center Як джерело для написання статей
