.products-section
	.spacer.spacer--size-3
		.spacer__item
			p.h1.text-center Продукти
		.spacer__item
			p.text-l.text-center
				| На даний момент всі результати нашої роботи розміщені на&nbsp;
				a.link.link--primary-dark(href='#') github
				|  в репозиторіях організації
		.spacer__item.spacer__item--size-6
			.spacer-h-wrap.spacer-h-wrap--size-4.spacer-h-wrap--center-v
				.spacer-h-wrap__item
					.card
						p.h3 Сервіси
						.card__strip
				.spacer-h-wrap__item
					.card
						p.h3 Моделі
						.card__strip
				.spacer-h-wrap__item
					.card
						p.h3 Бібліотеки
						.card__strip
				.spacer-h-wrap__item
					.card
						p.h3 Словники
						.card__strip
				.spacer-h-wrap__item
					.card
						p.h3 Корпуси
						.card__strip
				.spacer-h-wrap__item
					.card
						p.h3 Ґазетіри
						.card__strip
