.slogan-section
	.cols
		.cols__item.cols__item--md
			.spacer.spacer--size-5
				.spacer__item
					.slogan-section__title
						p.h2
							span.badge.badge--primary-dark Lang-uk —
							|  спільнота фахівців з українського NLP
				.spacer__item
					.slogan-section__text
						p.text-m Підтримка наявних і розвиток нових проектів по збору українських корпусів та інших текстових даних. Ядром спільноти є «активісти», волонтери та інші учасники, які поділяють наші принципи.
				.spacer__item.spacer__item--size-14.hide.hide--md
					.button-fill-animation-container
						.button-fill-animation-container__item
							a(href="#").button-fill-animation
								span.button-fill-animation__content
									include ../../svg/telegram.svg
						.button-fill-animation-container__item
							a(href="#").button-fill-animation
								span.button-fill-animation__content
									include ../../svg/github.svg
		.cols__item.cols__item--md
			.slogan-section__image
				img(src="./img/hp_1.png")