.healthy {
  margin-bottom: $spacer * 13;

  &__content {
    max-width: $spacer * 68;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  &__item {
    margin-top: $spacer * 5;
  }

  @media (min-width: $md) {
    &__item {
      margin-top: $spacer * 8;
    }
  }
}
