.media-articles
  .media-articles__title
    p.h1.text-center Медіа про нас
  .media-articles__content

    .slider-wrap
      .slider-wrap__slider
        .slider
          .media-card
            .media-card__head
              .media-card__head-item
                .media-card__head-logo
                  img(src="./img/dou_logo.jpg")
                p.media-card__head-text 07.09.2017
              .media-card__head-item
                p.media-card__head-text.media-card__head-text--label.text-right Promo
                p.media-card__head-text.media-card__head-text--bold.text-right №1
            .media-card__body
              p.text-l Комп’ютерна лінгвістика по-українськи: про підсумки роботи lang-uk за рік існування
          .media-card
            .media-card__head
              .media-card__head-item
                .media-card__head-logo
                  img(src="./img/dou_logo.jpg")
                p.media-card__head-text 07.09.2017
              .media-card__head-item
                p.media-card__head-text.media-card__head-text--label.text-right Business
                p.media-card__head-text.media-card__head-text--bold.text-right №2
            .media-card__body
              p.text-l Анонс lang-uk: створюємо умови для повноцінної обробки україномовних текстів
          .media-card
            .media-card__head
              .media-card__head-item
                .media-card__head-logo
                  img(src="./img/dou_logo.jpg")
                p.media-card__head-text 07.09.2017
              .media-card__head-item
                p.media-card__head-text.media-card__head-text--label.text-right Lang-uk
                p.media-card__head-text.media-card__head-text--bold.text-right №3
            .media-card__body
              p.text-l Комп’ютерна лінгвістика по-українськи: про підсумки роботи lang-uk за рік існування
