.media-articles {
  display: flex;
  flex-direction: column;
  margin-bottom: $spacer * 13;
  overflow: hidden;
  width: calc(100% + 32px);
  margin-left: -16px;
  margin-right: -16px;
  padding-left: 16px;
  padding-right: 16px;



  &__title {
    margin-bottom: $spacer * 5;
  }

  &__content {

  }
}

.media-card {
  display: flex;
  flex-direction: column;
  border: 1px solid $color-black;
  margin-left: $spacer;
  margin-right: $spacer;
  overflow: hidden;

  &__head {
    padding: $spacer * 4;
    display: flex;
    justify-content: space-between;
    background: $color-bg;
    z-index: 1;
    border-bottom: 1px solid $color-black;
  }

  &__head-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__head-logo {
    width: 44px;
    height: 44px;
    margin-bottom: $spacer * 2;
  }

  &__head-text {
    font-family: $font-family-gilroy-regular;
    font-size: 14px;
    line-height: 20px;

    &--bold {
      font-family: $font-family-gilroy-bold;
    }

    &--label {
      color: $color-grey-2;
    }
  }

  &__body {
    padding: $spacer * 13 $spacer * 3 $spacer * 5;
    background: $color-white;
    height: 100%;
    z-index: 1;
  }

  @media (min-width: $sm) {
    position: relative;
    overflow: initial;

    &__body {
      flex: 1;
      height: initial;
    }

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: $color-black;
      transition: 0.4s all ease;
      z-index: 0;
    }

    &:hover {
      &:before {
        transform: translate(0.25rem, 0.25rem);
        transition: 0.4s all ease;
      }
    }
  }

  @media (min-width: $md) {
    margin-left: $spacer * 2;
    margin-right: $spacer * 2;
  }
<<<<<<< HEAD

}
=======
}
>>>>>>> 85d2e0d62a90d9ecfd96750629c17bb8d017cf80
