.search-result__block
    .search-result__content
        p.h1 Результати пошуку
        .search-result__item
            .item__website
                a.text-m https://lang.org.ua/uk/gazetteers/
            a(href="article.html").h4 Корисні ґазетіри
            p.text-m Набір різноманітних колекцій даних українською мовою, зібраний протягом роботи над&nbsp;
                a.link.link--primary-dark(href="#") антикорупційними
                | &nbsp;та не тільки проектами. CSV–формат, UTF-8, до деяких датасетів також наявний переклад англійською або російською.
        .search-result__item
            .item__website
                a.text-m https://lang.org.ua/uk/gazetteers/
            a(href="article.html").h4 Корисні ґазетіри
            p.text-m Набір різноманітних колекцій даних українською мовою, зібраний протягом роботи над&nbsp;
                a.link.link--primary-dark(href="#") антикорупційними
                | &nbsp;та не тільки проектами. CSV–формат, UTF-8, до деяких датасетів також наявний переклад англійською або російською.
        .search-result__item
            .item__website
                a.text-m https://lang.org.ua/uk/gazetteers/
            a(href="article.html").h4 Корисні ґазетіри
            p.text-m Набір різноманітних колекцій даних українською мовою, зібраний протягом роботи над&nbsp;
                a.link.link--primary-dark(href="#") антикорупційними
                | &nbsp;та не тільки проектами. CSV–формат, UTF-8, до деяких датасетів також наявний переклад англійською або російською.
    .search-result__pages
        ul.pagination
            li
                span.bracket &LT;
            li
                span.text-m.current 1
            li
                a.text-m(href="#") 2
            li
                a.text-m(href="#") 3
            li
                a.text-m(href="#") 4
            li
                a.text-m(href="#") 5
            li.pagdots
                span ...
            li
                a.text-m(href="#") 10
            li
                a.text-m.bracket(href="#")  &GT;