.about-microservices
	.about-microservices__item
		.cols
			.cols__item.cols__item--md-6
				p.h2 Мікросервіси
					br
					| lang-uk
			.cols__item.cols__item--md-6
				p.text-l це можливість легко запустити і використовувати основні інструменти, які
								| розроблені нашою командою. Технічно це реалізується з використанням технологій Swagger і Docker.
	.about-microservices__item
		.cols
			.cols__item.cols__item--xs-6
				p.h4.about-microservices__left-text На даний момент в наявності є наступні сервіси
			.cols__item.cols__item--xs-6
				p.h4 Приклад HTTP-запиту:
				.copy-container
					.copy-btn-container
						span.copy-notification-text(data-success-text="Текст скопійовано" data-error-text="Вибачте, помилка")
						button.copy-btn(type="button") copy
					p.copy-text This text copied 1
				.copy-container
					.copy-btn-container
						span.copy-notification-text(data-success-text="Текст скопійовано" data-error-text="Вибачте, помилка")
						button.copy-btn(type="button") copy
					p.copy-text This text copied 2
				.copy-container
					.copy-btn-container
						span.copy-notification-text(data-success-text="Текст скопійовано" data-error-text="Вибачте, помилка")
						button.copy-btn(type="button") copy
					p.copy-text This text copied 3
