.about-microservices
	.about-microservices__item
		.cols
			.cols__item.cols__item--md-6
				p.h2 Мікросервіси
					br
					| lang-uk
			.cols__item.cols__item--md-6
				p.text-l це можливість легко запустити і використовувати основні інструменти, які
					| розроблені нашою командою. Технічно це реалізується з використанням технологій Swagger і Docker.
	.about-microservices__item
		.cols
			.cols__item.cols__item--md-6
				.about-microservices__left-text
					p.h4 На даний момент в наявності є наступні сервіси
					.list.about-microservices__list
						.list__item
							.list__mark
								include ../../svg/triangle_1.svg
							p.list__text Токенізація
						.list__item
							.list__mark
								include ../../svg/triangle_1.svg
							p.list__text Український, російський та англійський NER
						.list__item
							.list__mark
								include ../../svg/triangle_1.svg
							p.list__text Лематизація з використанням можливостей бібліотеки &nbsp;
								a.link.link--primary-dark(href="#") nlp_uk
						.list__item
							.list__mark
								include ../../svg/triangle_1.svg
							p.list__text Розпізнавання мови з використанням можливостей бібліотеки &nbsp;
								a.link.link--primary-dark(href="#") WILD
			.cols__item.cols__item--md-6
				.about-microservices__example-item
					p.h4 Приклад HTTP-запиту:
				.about-microservices__example-item
					.copy.about-microservices__copy
						code.copy__text $ curl -X POST -H "Content-Type: application/json" -d "{'text': 'Несе Галя'}" http://localhost:8080/lang-detect/wiki/detect [["uk",0.83333343],["bg",0.16666652]]
						button.copy__button(type="button")
							include ../../svg/copy-document.svg
				.about-microservices__example-item
					p Docker-скрипти розробив &nbsp;
						a.link.link--primary-dark(href="#") Михайло Чалий.


