ul.breadcrumbs(itemscope="" itemtype="http://schema.org/BreadcrumbList")
	li(itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem").breadcrumbs__item
		a(href="index.html" itemid="index.html" itemscope="" itemtype="http://schema.org/Thing" itemprop="item").breadcrumbs__item
			span(itemprop="name") Головна
		<meta itemprop="position" content="1">
	li(itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem").breadcrumbs__item
		span(itemid="services.html" itemscope="" itemtype="http://schema.org/Thing" itemprop="item").breadcrumbs__item
			span(itemprop="name") Сервіси
		<meta itemprop="position" content="2">