// service-page/intro-section.pug
.intro
	.cols
		.cols__item.cols__item--md
			p.h0.intro__title Сервіси
		.cols__item.cols__item--md
			.intro__image
				img(src="./img/sp_1.svg")
	span.intro__actions
		.intro__button
			include ../../svg/arrow_down_thick.svg
.separator.separator--line
// /service-page/intro-section.pug