.services-list
	.services-list__item
		.services-list__actions
			.button-fill-container
				.button-fill-container__item
					span.button-fill
						span.button-fill__content Картки
				.button-fill-container__item
					span.button-fill
						span.button-fill__content Список
	.services-list__item
		.collapse(data-collapse='' data-collapse-open='true' data-collapse-target='.nameOfCollapseClass1')
			p.h3.collapse__title Мікросервіс NER
		.nameOfCollapseClass1 ffffff
	.services-list__item
		.collapse(data-collapse='' data-collapse-open='true' data-collapse-target='.nameOfCollapseClass2')
			p.h3.collapse__title Мікросервіс NLP_UK
		.nameOfCollapseClass2 ffffff
	.services-list__item
		.collapse(data-collapse='' data-collapse-open='true' data-collapse-target='.nameOfCollapseClass3')
			p.h3.collapse__title Мікросервіс розпізнавання мови (WILD)
		.nameOfCollapseClass3 ffffff
	.services-list__item
		.collapse(data-collapse='' data-collapse-open='true' data-collapse-target='.nameOfCollapseClass4')
			p.h3.collapse__title Веб-сервіс оцінки когерентності тексту
		.nameOfCollapseClass4 ffffff
