// article/article.pug
.article
    .article__content
        h1.h1 Українська мова
        p.text-m Національна мова українців. Належить до східнослов'янської підгрупи слов'янської групи балто-слов'янські гілки індоєвропейської мовної сімї. Є державною мовою в Україні.
            |Число мовців — орієнтовно 45 млн, більшість із яких мешкає в Україні. Поширена також у Білорусі, Молдові, Польщі, Росії, Румунії, Словаччині, Казахстані, Аргентині, Бразилії, Великій Британії, Канаді, США та інших країнах, де живуть українці. Українською мовою у світі послуговуються від 41 до 45 млн осіб; вона є другою чи третьою слов'янською мовою за кількістю мовців (після російської та, можливо, польської) та входить до третього десятка найпоширеніших мов світу.
        h2.h2 Класифікація
        ol
            li.text-m--bold 1. Генеалогічна
                p.text-m За генеалогічною класифікацією українська мова належить до східнослов'янської підгрупи слов'янської групи індоєвропейської мовної сім'ї.
                p.text-m Найближчою генеалогічно до української є білоруська мова (починаючи з IX—XI століття обидві мови частково утворювалися на спільній діалектній основі, зокрема північна діалектна група української мови брала участь у формуванні розмовної білоруської мови, обидва народи до XVI століття мали спільну писемну книжну українсько-білоруську мову).
            li.text-m--bold 2. Типологічна
                p.text-m За типологічною класифікацією українська є флективною мовою синтетичного типу.
                p.text-m Найближчою генеалогічно до української є білоруська мова (починаючи з IX—XI століття обидві мови частково утворювалися на спільній діалектній основі, зокрема північна діалектна група української мови брала участь у формуванні розмовної білоруської мови, обидва народи до XVI століття мали спільну писемну книжну українсько-білоруську мову).
        h2.h2
            |Відмінності від інших
            br
            | слов'янських мов
        ul.list__text-content.text-m На фонетичному рівні українську мову вирізняє:
            li.text-m найбільша кількість фонем із усіх слов'янських мов — 48
            li.text-m найбільша вокальність — «прозорість», милозвучність
            li.text-m найбільша кількість кореляційних пар м'яких і твердих приголосних звуків
            li.text-m чітке розрізнення [ɪ] (на письмі — и) та [i] (на письмі — і) на фонемному рівні
        h4.h4 Вплив на інші мови
        p.text-m Українська мова вплинула на інші сусідні слов'янські мови: на польську, російську та білоруську літературні мови. До багатьох мов світу увійшли українські слова «гопак», «козак», «степ», «бандура», «борщ» (до польської було запозичено українські слова «hreczka» — гречка, «chory» — хворий, російської «вареники» — вареники; «пасека» — пасіка; «бублик» — бублик, «подполковник» — підполковник, румунської «ştiucă» — щука, «holub» — голуб, білоруської «вагітная» — вагітна тощо).
        h2.h2 Назва
        p.text-m Назву «українська мова» вживали, починаючи з XVI століття, на позначення мови українських земель Речі Посполитої, однак до середини XIX століття основною назвою мови, що тепер зветься українською, був вираз «руська мова». Це почало вносити плутанину від миті приєднання України до Московії та згодом Російської імперії, оскільки росіяни у XVIII столітті стали позначати власну мову схожим прикметником
        ol.list__content.text-m Окрім того, протягом певного часу, вживали такі назви:
            li.text-m
                span.text-m--bold 1.
                | про́ста мова
            li.text-m
                span.text-m--bold 2.
                | коза́цька мова
            li.text-m
                span.text-m--bold 3.
                | малоросійське / малоруське наріччя, або південноросійське / південноруське наріччя
            li.text-m
                span.text-m--bold 4.
                | русинська мова, руська мова
            li.text-m
                span.text-m--bold 5.
                | угроруська, або карпаторуська мова
            li.text-m
                span.text-m--bold 6.
                | козача / кубанська мова
            li.text-m
                span.text-m--bold 7.
                | руська мова
        .quote
            .text-l Щоб любити – треба знати, а щоб проникнути в таку тонку й неосяжну, величну й багатогранну річ, як мова, треба її любити
                .quote__icon
                    include ../../svg/qoute.svg
            p.caption-1 Василь Сухомлинський
    .table
        table
            thead
                tr
                    th.text-m--bold.column_1 На письмі
                    th.text-m--bold.column_2 Опис
                    th.text-m--bold.column_3 Основний
                    th.text-m--bold.column_4 Ненагол.
                    th.text-m--bold.column_5 Після м'яких
            tbody
                tr
                    td.text-m і ї
                    td.caption-2 Неогублений передній високий
                    td.text-m /i/ (і)
                    td.text-m і ї
                    td.text-m і ї
                tr
                    td.text-m и
                    td.caption-2
                        |Неогублений ненапружений передній
                        br
                        |високо-середній
                    td.text-m /ɪ/ (и)
                    td.text-m и
                    td.text-m и
                tr
                    td.text-m е є
                    td.caption-2 Неогублений передній низько-середній
                    td.text-m /ɛ/ (е)
                    td.text-m е є
                    td.text-m е є
                tr
                    td.text-m а я
                    td.caption-2 Неогублений передній низько-середній
                    td.text-m /ɑ/ (а)
                    td.text-m а я
                    td.text-m а я
                tr
                    td.text-m у ю
                    td.caption-2 Неогублений передній низько-середній
                    td.text-m /ɔ/ (о)
                    td.text-m у ю
                    td.text-m у ю
                tr
                    td.text-m о
                    td.caption-2 Неогублений передній низько-середній
                    td.text-m /u/ (у)
                    td.text-m о
                    td.text-m о
// /article/article.pug