

.add-product {
    width: 100%;
    position: relative;
    margin-top: 64px;
    margin-bottom: 64px;

    @media (min-width: $xs) {
        margin-top: 104px;
        margin-bottom: 104px;
    }

    @media (min-width: $md) {
        margin-bottom: 160px;
    }
}

.add-product-title {
    width: 100%;    
    margin-bottom: 40px;

    @media (min-width: $xs) {
        text-align: center;
        margin-bottom: 64px;
    }
}

.add-product-form {
    width: 100%;
    
    @media (min-width: $xs) {
        padding-right: calc(12.5% + 16px);
    }

    @media (min-width: $md) {
        padding-left: calc(8.3333% - 32px);
        padding-right: calc(25%);
    }

    .form-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;

        &:not(:last-child) {
            margin-bottom: 48px;

            @media (min-width: $xs) {
                margin-bottom: 40px;
            }
        }

        &__title {
            width: 100%;
            margin-bottom: 16px;

            @media (min-width: $xs) {
                width: calc(140px);
                margin-bottom: 0;
            }

            @media (min-width: $md) {
                width: calc(193px);
            }
        }

        &__content {
            display: flex;
            flex-direction: column;
            width: 100%;

            @media (min-width: $xs) {
                width: calc(100% - 184px);
            }

            @media (min-width: $md) {
                width: calc(100% - 193px - 32px);
            }
        }

        &__button {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;

            @media (min-width: $xs) {
                width: calc(100% - 184px);
            }

            @media (min-width: $md) {
                width: calc(100% - 193px - 32px);
            }
        }

        &.error {
            .input,
            .nice-select,
            .tox.tox-tinymce {
                border: 1px solid $color-error;
            }

            .error-message {
                display: block;
                color: $color-error;
            }
        }
    }

    .input {
        width: 100%;
        height: 48px;
        font-family: $font-family-gilroy-regular;
        font-size: 16px;
        line-height: 24px;
        color: $color-black;
        padding: 12px 16px;
        border: 1px solid $color-black;
        background: $color-bg;

        &::placeholder {
            font-family: $font-family-gilroy-regular;
            font-size: 16px;
            line-height: 24px;
            color: $color-grey-1;
        }
    }

    .textarea {
        position: relative;
        width: 100%;
        height: 72px;
        font-family: $font-family-gilroy-regular;
        font-size: 16px;
        line-height: 24px;
        color: $color-black;
        padding: 12px 16px;
        border: 1px solid $color-black;
        background: $color-bg;
        resize: none;

        & + .textarea {
            // margin-top: 16px;
        }

        &:not(:last-child) {
            margin-bottom: 16px;
        }

        &::placeholder {
            font-family: $font-family-gilroy-regular;
            font-size: 16px;
            line-height: 24px;
            color: $color-grey-1;
        }

        &--quote {
            font-family: $font-family-ibm-pm-regular;
            font-size: 14px;
            line-height: 20px;
            color: $color-grey-1;
            background: $color-bg-dark;
            border-radius: 8px;
            border: none;
            padding: 24px 24px 40px;
            height: auto;
            min-height: 84px;
            resize: vertical;
        }
    }

    .error-message {
        display: none;
        width: 100%;
        font-size: 12px;
        line-height: 16px;
        color: $color-error;
        margin-top: 4px;
    }

    .note {
        display: block;
        width: 100%;
        font-size: 12px;
        line-height: 16px;
        margin-top: 4px;
    }

    .radio-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;

        .radio-item {
            display: flex;
            align-items: center;
            cursor: pointer;

            &:not(:last-child) {
                margin-right: 24px;
            }

            input {
                display: none;

                &:checked {
                    & ~ .radio-item__square::before {
                        opacity: 1;
                    }
                }
            }

            &__text {
                font-weight: 600;
                font-size: 14px;
                line-height: 20px;
                font-family: $font-family-gilroy-semibold;
            }

            &__square {
                display: block;
                position: relative;
                width: 20px;
                height: 20px;
                background: $color-white;
                border: 1px solid $color-black;
                margin-left: 4px;

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    top: calc(50% - 4px);
                    left: calc(50% - 4px);
                    background: $color-black;
                    opacity: 0;
                    transition: 0.2s;
                }
            }
        }
    }

    .copy-block {
        display: block;
        position: relative;
        width: 100%;
        counter-reset: copycount; 

        &:not(:last-child) {
            margin-bottom: 32px;
        }

        &-content {
            position: relative;
            counter-increment: copycount;
            
            &:not(:last-child) {
                margin-bottom: 32px;
            }

            &__count {
                position: relative;
                z-index: 0;
                width: 100%;
                margin-bottom: 8px;

                @media (min-width: $sm) {
                    position: absolute;
                    width: auto;
                    top: 12px;
                    left: -28px;
                }

                &::before {
                    content: counter(copycount) ".";  
                }
            }

            &__button {
                position: absolute;
                z-index: 4;
                top: calc(24px + 8px + 12px);
                right: 12px;

                @media (min-width: $sm) {
                    position: absolute;
                    top: 12px;
                    right: -28px;
                }
            }

            &__icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 24px;
                height: 24px;
                cursor: pointer;

                svg {
                    width: 100%;
                    height: 100%;
                    stroke: $color-black;
                    transform: translate3d(0, 0, 0);
                    transition: 0.3s;
                    pointer-events: none;
                }

                &.copy-block-content__remove {
                    transform: rotate(45deg);
                }

                &:hover svg {
                    stroke: $color-primary-dark;
                }
            }

            .input {
                position: relative;
                z-index: 3;

                & + .input,
                & + .chip,
                & + .textarea {
                    margin-top: 16px;
                }
            }

            &.error {
                .input {
                    border: 1px solid $color-error;
                }
    
                .error-message {
                    display: block;
                    color: $color-error;
                }
            }
        }
    }

    .chip {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        min-height: 48px;
        font-family: $font-family-gilroy-regular;
        font-size: 16px;
        line-height: 24px;
        color: $color-black;
        padding: 4px 8px;
        border: 1px solid $color-black;
        background: $color-bg;

        &-list {

        }
        
        &-list-item {
            display: flex;
            align-items: flex-start;
            margin: 4px 8px;
            cursor: pointer;
            padding: 4px 4px;
            background: $color-bg-dark;
            transition: 0.2s;

            &:hover {
                background: $color-grey-3;
            }

            &__text {
                padding-right: 6px;
            }

            &__button {
                width: 12px;
                height: 12px;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.82812 3.17157L3.17127 8.82842' stroke='black' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M8.82812 8.82843L3.17127 3.17158' stroke='black' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
            }
        }

        &-input {
            width: 100px;
            height: 36px;
            margin: 4px 8px;
            flex: 1 0 100px;

            font: inherit;
            background: rgba(0,0,0,0);
            color: currentColor;
            border: none;
            outline: none;
            padding: 0;
            width: 100%;
            max-width: 100%;
            vertical-align: bottom;
            text-align: inherit;
            box-sizing: content-box;
        }
    }
}

.tox-tinymce {
    border-radius: 0 !important;
}

.tox.tox-silver-sink.tox-tinymce-aux {
    display: none !important;
}
