
.services-types {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 24px;

    @media (min-width: $md) {
        margin-bottom: 40px;
    }
}

.services-list {
    .service {
        border-bottom: 1px solid $color-black;

        &:not(.active) .service-body {
			display: none;
		}

        &:not(:last-child) {
            margin-bottom: 40px;
        }

        &.active {
            .service-button {
                &__text::before {
                    content: attr(data-close);
                }
        
                &__icon {
                    transform: rotate(180deg);
                }
            }
        }
    }

    .service-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        cursor: pointer;
        padding-bottom: 16px;

        &__title {
            width: 100%;
            font-size: 24px;
            line-height: 28px;
            font-family: $font-family-gilroy-bold;

            @media (min-width: $xs) {
                font-size: 28px;
                line-height: 36px;
            }

            @media (min-width: $md) {
                font-size: 32px;
                line-height: 40px;
            }

            &::before {
                content: "<:";
            }

            &::after {
                content: ">";
            }
        }

        &__toggle {
            display: none;
        }
    }

    .service-button {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        font-family: $font-family-gilroy-bold;
        cursor: pointer;
        padding: 4px 4px 4px 8px;

        &__text {
            display: block;
            white-space: nowrap;
            transition: 0.2s;

            &::before {
                content: attr(data-open);
            }
        }

        &__icon {
            width: 24px;
            height: 24px;
            transition: 0.2s;

            svg {
                width: 100%;
                height: 100%;
                transform: translate3d(0, 0, 0);

                * {
                    stroke: $color-black;
                    transition: 0.2s;
                }
            }
        }

        &:hover {
            .service-button__text {
                color: $color-primary-dark;
            }

            .service-button__icon svg * {
                stroke: $color-primary-dark;
            }
        }
    }

    .service-body {
        overflow: hidden;
        transition: height 0.4s ease-in-out;
    }

    .service-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        padding: 24px 0 40px;

        &__toggle {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            margin-top: 32px;

            @media (min-width: $md) {
                margin-top: 40px;
            }
        }
    }

    .service-content {
        width: 100%;

        @media (min-width: $sm) {
            width: calc(62.5% - 16px);
        }

        @media (min-width: $md) {
            width: calc(58.33333% - 16px);
        }

        h1,
        h2,
        h3,
        h4 {
            font-family: $font-family-gilroy-bold;

            &:not(:last-child) {
                margin-bottom: 24px;

                @media (min-width: $md) {
                    margin-bottom: 32px;
                }
            }
        }

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            margin: 24px 0;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    
        a {
            text-decoration: underline;
            color: $color-primary-dark;
            font-weight: 600;
            transition: 0.2s;
    
            &:hover {
                color: $color-primary;
            }
        }

        b {
            font-family: $font-family-gilroy-bold;
        }

        ul {
            display: block;
            overflow: hidden;
            margin-bottom: 32px;
            margin-bottom: 32px;

            &:first-child {
                margin-top: 0px;
            }
            
            &:last-child {
                margin-bottom: 0px;
            }

            li {
                position: relative;
                width: 100%;
                padding-left: 24px;

                &:not(:last-child) {
                    margin-bottom: 16px;
                }

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 24px;
                    height: 24px;
                    top: 0;
                    left: 0;
                    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12L0.803848 0L11.1962 0L6 12Z' fill='black'/%3E%3C/svg%3E%0A");
                    background-size: 12px 12px;
                    background-position: center center;
                    background-repeat: no-repeat;
                }
            }
        }

        code {
            font-family: $font-family-ibm-pm-regular;
        }

        .code {
            display: block;
            width: 100%;
            max-width: max-content;
            background: $color-white;
            border-radius: 8px;
            padding: 8px 12px;
        }

        pre {
            display: block;
            width: 100%;
            max-width: 100%;
            position: relative;
            margin: 24px 0;
            overflow-x: auto;
            padding: 24px 24px;
            background: $color-grey-4;
            color: $color-grey-1;
            border-radius: 8px;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }

            p {
                margin: 0;
            }

            code {
                display: block;
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    .service-info {
        width: 100%;
        order: -1;
        background: $color-white;
        padding: 32px 20px 40px;
        margin-bottom: 24px;

        @media (min-width: $sm) {
            order: 0;
            width: calc(37.5% - 16px);
            padding: 32px 24px 40px 20px;
            margin-bottom: 0;
        }

        @media (min-width: $md) {
            width: calc(33.3333% - 16px);
            padding: 32px 32px 40px;
        }

        .info-block {
            width: 100%;

            &:not(:last-child) {
                margin-bottom: 32px;
            }

            &--releases {
                padding-bottom: 32px;
                border-bottom: 1px solid $color-grey-1;
            }

            &__title {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                font-size: 16px;
                line-height: 24px;
                font-weight: 700;
                font-family: $font-family-gilroy-bold;
                margin-bottom: 16px;

                span {
                    font-family: $font-family-gilroy-semibold;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    padding: 3px 6px 1px;
                    color: $color-white;
                    background: $color-black;
                    border-radius: 4px;
                    margin-left: 8px;
                }
            }

            &__text {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                font-family: $font-family-gilroy-regular;

                p + p {
                    margin-top: 4px;
                }

                b {
                    font-family: $font-family-gilroy-semibold;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    color: $color-grey-1;
                    
                    &.green {
                        color: $color-primary-dark;
                    }
                }
            }

            &__comment {
                margin-top: 16px;
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
            }

            &__download {
                display: flex;
                align-items: center;
                max-width: max-content;
                text-decoration: none;

                svg {
                    width: 20px;
                    height: 20px;
                    transform: translate3d(0, 0, 0);
                }

                span {
                    margin-left: 10px;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 20px;
                    font-family: $font-family-gilroy-semibold;
                }
            }
        }
    }
}

.services-list.cards {

    .service {
        border: 1px solid $color-black;

        &:not(.active) .service-body {
			display: block;
            height: 160px;
		}
    }

    .service-head {
        padding: 20px 20px;
        background: $color-white;
        border-bottom: 1px solid $color-black;

        &__title {
            width: 100%;
            margin-bottom: 16px;

            @media (min-width: $xs) {
                width: calc(100% - 200px);
                margin-bottom: 0;
            }
        }

        &__toggle {
            display: block;
        }
    }

    .service-wrapper {
        padding: 24px 20px 40px;

        @media (min-width: $xs) {
            padding: 32px 0px 40px 32px;
        }

        @media (min-width: $md) {
            padding: 40px 32px 56px 48px;
        }
    }
}
