footer.footer
	.footer__container
		.footer__top
			.footer__logo(href="index.html")
				a(href="index.html")
					img(src="./img/logo.svg", style="width: 100%")
			.footer-nav
				.footer-nav__item
					.spacer
						.spacer__item
							a.footer-nav__link.underline-animation(href="about-us.html") Про нас
						.spacer__item
							a.footer-nav__link.underline-animation(href="products.html") Продукти
						.spacer__item
							a.footer-nav__link.underline-animation(href="manifest.html") Маніфест
				.footer-nav__item
					.spacer
						.spacer__item
							a.underline-animation(href="mailto:ouremail@gmail.com")
								span.footer-nav__link E:&nbsp;
								| ouremail@gmail.com
						.spacer__item
							a.underline-animation(href="tel:+380951234567")
								span.footer-nav__link T:&nbsp;
								| +38 095 123 45 67
			.footer__actions
				.spacer.spacer--h.spacer--size-3
					.spacer__item
						a(href="https://github.com/lang-uk/new_design").footer__button.button-wave.button-wave--transparent
							include ../../svg/github.svg
					.spacer__item
						a(href="tg://resolve?domain=lang-uk").footer__button.button-wave.button-wave--transparent
							include ../../svg/telegram.svg
		.footer__bottom
			span.caption-1.caption-1--regular ©2021 Lang-uk
<<<<<<< HEAD
			
			.footer__bottom-dev
				.spacer.spacer--h.spacer--size-1.footer__developer
					span.spacer__item
						include ../../svg/wave_1.svg
					span.spacer__item.caption-1.caption-1--regular Architected by
					a(href="https://bachoodesign.com").spacer__item.caption-1 Báchoo
				.spacer.spacer--h.spacer--size-1.footer__developer
					a(href="https://bachoodesign.com").footer__developer-highweb.spacer__item.caption-1
						include ../../svg/highweb.svg
=======
			.spacer.spacer--h.spacer--size-1
				span.spacer__item
					include ../../svg/wave_1.svg
				span.spacer__item.caption-1.caption-1--regular Architected by
				span.spacer__item.caption-1 Báchoo
>>>>>>> 85d2e0d62a90d9ecfd96750629c17bb8d017cf80
