.footer{
  display: flex;
  justify-content: center;
  background: $color-white;

  padding-left: $spacer * 2;
  padding-right: $spacer * 2;

  &__container{
    max-width: $spacer * 115;
    width: 100%;
  }

  @media (min-width: $xs) {
    padding-left: $spacer * 4;
    padding-right: $spacer * 4;
  }

  @media (min-width: $lg) {
    padding-left: $spacer * 10;
    padding-right: $spacer * 10;
  }
}