.footer {
  display: flex;
  justify-content: center;
  background: $color-white;
  padding: $spacer * 5 $spacer * 2 $spacer * 3;

  &__container {
    max-width: $spacer * 115;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__top{
    display: flex;
    flex-direction: column;
  }

  &__bottom{
    display: flex;
    justify-content: space-between;
  }

  //&__nav{
  //
  //}
  //
  //&__contacts{
  //
  //}

  &__logo{
    width: 109px;
  }

  &__social{
    width: $spacer * 5;
    height: $spacer * 5;
    border-radius: $border-radius;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: $xs) {
    padding-left: $spacer * 4;
    padding-right: $spacer * 4;
  }

  @media (min-width: $sm) {
    padding-top: $spacer * 6;
    padding-bottom: $spacer * 6;

    &__top {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  @media (min-width: $md) {
    padding-top: $spacer * 9;
    padding-bottom: $spacer * 9;
  }

  @media (min-width: $lg) {
    padding-left: $spacer * 10;
    padding-right: $spacer * 10;
  }
}

.footer-nav{
  display: flex;

  &__item{
    display: flex;
    flex-direction: column;
    & + & {
      margin-left: auto;
    }
  }

  &__nav{

  }

  &__contacts{

  }

  &__link{
    font-family: $font-family-gilroy-regular;
    font-size: $spacer * 1.875;
    line-height: $spacer * 3;
    font-weight: 600;
  }

  @media (min-width: $xs) {

  &__item{

    & + & {
      margin-left: $spacer * 15;
    }
  }
  }
}