footer.footer
	.footer__container
		p Footer
		div(style="width: 109px;")
			img(src="./img/logo.svg", style="width: 100%")
		span
			include ../../svg/github.svg
			include ../../svg/telegram.svg
			include ../../svg/wave_1.svg