.enter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: $spacer * 5.5 auto $spacer * 8.75;
    width: 100%;
    max-width: 736px;

    @media (min-width: $sm) {
        width: initial;
        margin-top: $spacer * 8;
    }

    @media (min-width: $md) {
        margin-top: $spacer * 14;
    }

    img {
        width: 100%;
        max-width: 100%;
    }
}



