<!DOCTYPE html>
html(lang="ru")
    include ../templates/head/head.pug

    body(data-barba="wrapper")
        .loader
		
        .layout
            include ../blocks/header/header.pug

            main.main(data-barba="container"  data-barba-namespace="add-product")
                .main__container
                    include ../templates/products-page/form-add-product.pug

            include ../blocks/footer/footer.pug

        script(type="module", src="./js/main.js")