<!DOCTYPE html>
html(lang="ru")
	include ../templates/head/head.pug

	body
		.layout

			include ../blocks/header/header.pug

			main.main
				.main__container
					include ../templates/contact-us/breadcrumbs.pug
					include ../templates/contact-us/info-contact.pug
					include ../templates/contact-us/form-contact.pug


			include ../blocks/footer/footer.pug

		script(type="module", src="./js/main.js")