<!DOCTYPE html>
html(lang="ru")
	include ../templates/head/head.pug

	body
		.layout

			include ../blocks/header/header.pug

			main.main
				.main__container
					include ../templates/homepage/slogan-section.pug
					include ../templates/homepage/about-us-section.pug
					include ../templates/homepage/products-section.pug
					include ../templates/homepage/consumers-section.pug
					// TODO: needs to be redone block enter
					include ../blocks/enter/enter.pug
					include ../templates/homepage/healthy-section.pug
					include ../blocks/become-part/become-part.pug

			include ../blocks/footer/footer.pug

		script(type="module", src="./js/main.js")