<!DOCTYPE html>
html(lang="ru")
	include ../templates/head/head.pug

	body(data-barba="wrapper")
		.loader

		.layout
			include ../blocks/header/header.pug

			main.main(data-barba="container")
				.main__container
					include ../templates/manifest/breadcrumbs.pug
					include ../templates/manifest/intro-section.pug
					include ../templates/manifest/about-manifest.pug
					include ../templates/manifest/manifest-list.pug

			include ../blocks/footer/footer.pug

		script(type="module", src="./js/main.js")