<!DOCTYPE html>
html(lang="uk")
	include ../templates/head/head.pug

	body
		.layout

			include ../blocks/header/header.pug

			main.main
				.main__container
					h2.h2 Manifest

			include ../blocks/footer/footer.pug

		script(type="module", src="./js/main.js")
