<!DOCTYPE html>
html(lang="ru")
	include ../templates/head/head.pug

	body
		.layout

			include ../blocks/header/header.pug

			main.main
				.main__container
					include ../templates/manifest-page/breadcrumbs.pug
					include ../templates/manifest-page/intro-section.pug
					include ../templates/manifest-page/about-manifest.pug
					include ../templates/manifest-page/manifest-list.pug

			include ../blocks/footer/footer.pug

		script(type="module", src="./js/main.js")