<!DOCTYPE html>
html(lang="ru")
	include ../templates/head/head.pug

	body
		.layout

			include ../blocks/header/header.pug

			main.main
				.main__container
					h1.h1 Продукти
					.card-container.card-container--text(style="margin-top: 2rem;")
						.card.card--text
							.card__top
								span.h3 Сервіси
								.card__icon
									include ../svg/wave_2.svg
							p.card__text.text-m.text-m--regular Мікросервіси lang-uk — це можливість легко запустити і використовувати основні іМікросервіси lang-uk — це можливість легко запустити і використовувати основні інструменти, які розроблені нашою командою. Технічно це реалізується з використанням технологій Swagger і Docker.
							.card__strip
						.card.card--text
							.card__top
								span.h3 Моделі
								.card__icon
									include ../svg/romb.svg
							p.card__text.text-m.text-m--regular Завдяки нашому проанотованому корпусу української мови ми мали змогу натренувати модель, що дозволяє автоматичний пошук іменованих сутностей (імен, географічних назв, назв компаній, тощо) у незнайомих текстах. Для пошуку NER сутностей ми обрали бібліотеку MITIE.
							.card__strip
						.card.card--text
							.card__top
								span.h3 Бібліотеки
								.card__icon
									include ../svg/double_romb_row.svg
							p.card__text.text-m.text-m--regular Мікросервіс NER дозволяє здійснити NER-розмітку токенізованого тексту з використанням моделей, натренованих з допомогою бібліотеки MITIE для української, російської
							.card__strip
						.card.card--text
							.card__top
								span.h3 Словники
								.card__icon
									include ../svg/double_triange.svg
							p.card__text.text-m.text-m--regular Мікросервіс NER дозволяє здійснити NER-розмітку токенізованого тексту з використанням моделей, натренованих з допомогою бібліотеки MITIE для української, російської ...
							.card__strip
						.card.card--text
							.card__top
								span.h3 Корпуси
								.card__icon
									include ../svg/double_romb_column.svg
							p.card__text.text-m.text-m--regular Мікросервіс NER дозволяє здійснити NER-розмітку токенізованого тексту з використанням моделей, натренованих з допомогою бібліотеки MITIE для української, російської
							.card__strip
						.card.card--text
							.card__top
								span.h3 Ґазетіри
								.card__icon
									include ../svg/double_semirhombus.svg
							p.card__text.text-m.text-m--regular Мікросервіс NER дозволяє здійснити NER-розмітку токенізованого тексту з використанням моделей, натренованих з допомогою бібліотеки MITIE для української, російської
							.card__strip

			include ../blocks/footer/footer.pug

		script(type="module", src="./js/main.js")