<!DOCTYPE html>
html(lang="ru")
	include ../templates/head/head.pug

	body(data-barba="wrapper")
		.loader

		.layout
			include ../blocks/header/header.pug

			main.main(data-barba="container")
				.main__container
					include ../templates/search/search-result.pug

			include ../blocks/footer/footer.pug

	script(type="module", src="./js/main.js")