<!DOCTYPE html>
html(lang="ru")
	include ../templates/head/head.pug

	body
		.layout

			include ../blocks/header/header.pug

			main.main
				.main__container
					include ../templates/services-page/breadcrumbs.pug
					include ../templates/services-page/intro-section.pug
					include ../templates/services-page/about-microservices.pug
					include ../blocks/become-part/become-part.pug
			include ../blocks/footer/footer.pug

		script(type="module", src="./js/main.js")