.contact__submitted {
  @include flex-column;
  margin: $spacer * 5 0;
  min-height: calc(100vh - 80px - 272px);
  justify-content: center;

  .contact__submitted-content {
    width: 100%;
    @include flex-column;
  }

  .content__icon {
    max-width: 100%;

    svg {
      max-width: 100%;
    }
  }

  .h2 {
    text-align: center;
    padding-bottom: $spacer * 3;

    @media (min-width: $xs) {
      padding: $spacer * 5 0 $spacer * 2.5;

      br {
        display: none;
      }
    }
  }

  .text-m {
    text-align: center;
    padding-bottom: $spacer;

    @media (min-width: $xs) {
      padding-bottom: $spacer * 2;
    }
  }

  .text-m--bold {
    padding-left: $spacer;

    text-decoration: none;
  }
}