.contact__form {
  @include  flex-column;
  background: $color-white;
  margin-bottom:  $spacer * 8;
  margin-left: -16px;
  margin-right: -16px;
  width: calc(100% + 32px);
  overflow: hidden;
  @media (min-width: $sm) {
    margin-left: -32px;
    margin-right: -32px;
    width: calc(100% + 64px);
  }
  @media (min-width: $md) {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }




  .form__content {
    width: 100%;
    @include  flex-column;
    padding: $spacer * 8 $spacer * 2;

    @media (min-width: $sm) {
      padding: $spacer * 10 $spacer * 11.5 $spacer * 12.5 ;
    }
    @media (min-width: $md) {
      max-width: 34rem;
      padding: 0;
      margin: $spacer * 11.5 0 $spacer * 12.5 ;
    }

    .h2 {
      margin-bottom: $spacer * 5;
    }
    form {
      width: 100%;
      @include flex-column;
      align-content: center;

      @media (min-width: $xs) {
        padding: 0 $spacer * 4;
      }

      @media (min-width: $md) {
        padding: 0;
      }
      .error {
        border-bottom: 1px solid $color-error;
      }

    }


    .input__contact {
      width: 100%;

      @media (min-width: 440px) {
        display: flex;
        flex-direction: row;
        column-gap: 1rem;
      }

    }

    .input__item {
      width: 100%;
      font-family: $font-family-gilroy-regular;
      font-size: 16px;
      line-height: 24px;
      color: $color-black;
      border: none;
      border-bottom: 1px solid $color-black;
      margin-bottom: $spacer * 3;


      &::placeholder {
        font-family: $font-family-gilroy-regular;
        font-size: 16px;
        line-height: 24px;
        color: $color-black;
      }
    }
    .input__area {
      width: 100%;


      .input__item-area {
        border: 1px solid $color-black;


        &::placeholder {
          font-family: $font-family-gilroy-regular;
          font-size: 16px;
          line-height: 24px;
          color: $color-grey-1;
          padding: $spacer 0 0 $spacer * 2;

        }
      }
      .error {
        border: 1px solid $color-error;
      }
    }
    .text-m {
      align-self: flex-start;
      padding-bottom: $spacer;
    }

    .error {
     color:  $color-error;

    }

    .button {
      width: 14.875rem;
    }
  }


}

