// manifest/intro-section.pug
.intro
	.cols
		.cols__item.cols__item--md
			p.h0.intro__title Маніфест
		.cols__item.cols__item--md
			.intro__image
				img(src="./img/Manifest.svg")
	span.intro__actions
		.intro__button
			include ../../svg/arrow_down_thick.svg

// /manifest/intro-section.pug