// manifest/manifests-list.pug
.manifest-list__item
    .manifest__item
        .list__item
            .list__item-title
                .item__icon.icon1
                    include ../../svg/box_heart.svg
                .item__title
                    p.h2 Волонтерство
            .item__text
                p.text-l Учасники групи працюють на волонтерських засадах, не розраховуючи на отримання за цю роботу винагороди. Хоча для деяких проектів такий варіант не виключено, але це має обговорюватись окремо для кожного проекту.
        .list__item
            .list__item-title
                .item__icon.icon2
                    include ../../svg/opened_results.svg
                .item__title
                    p.h2 Відкриті загальнодоступні результати
            .item__text
               p.h4 Результати роботи групи
               ul.list__text-content
                    li.text-l Відкриті дані
                    li.text-l Програмний код інструментів роботи з ними
                    li.text-l Машинно-навчені моделі
                    li.text-l Публікації та інше
               p.text-l Всі ці артефакти мають публікуватись в центральному репозиторії групи, мати дозволяючу ліцензію на роботу з ними (наприклад, MIT, BSD, Creative Commons, Apache). Ми намагатимемость забезпечити максимальну інтероперабельність рішень, побудованих на цих артефактах, на основі використовувати відкритих специфікацій, стандартних або загальноприйнятих форматів кодування даних і моделей.
        .list__item
            .list__item-title
                .item__icon.icon3
                    include ../../svg/democracy.svg
                .item__title
                    p.h2 Меритократія і демократичність
            .item__text
                p.text-l В рамках окремих проектів рішення приймаються тими, хто бере на себе відповідальність за їх реалізацію. В той же час група є майданчиком для обговорень, які відбуваються прозоро, та прийняття спільних рішень щодо принципових напрямків роботи і підходів до реалізації конкретних проектів.

// /manifest/manifests-list.pug