.cookies__pop-up {
position: absolute;
  top:20%;
  margin: 0 $spacer * 2;

  @media (min-width: $xs) {
    top:50%;
    left: 50%;
    margin: 0;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }


  .cookies__content {
    position: relative;
    @include flex-column;
    justify-content: center;
    max-width: 28.5rem;
    border-radius: $spacer * 3;
    background: $color-white;
    padding: $spacer * 4;
    margin-bottom:$spacer * 4;

    @media (min-width: $sm) {
      padding: $spacer * 6;
    }
    .cookies__close {
      position: absolute;
      top: 24px;
      right: 24px;
    }

    .cookies__title {
      padding: 0 $spacer * 2.5 $spacer * 3 0;

      @media (min-width: $sm) {
        padding: 0 $spacer * 4 $spacer * 4.5 0;
      }
    }

    .cookies__button {
      @media (min-width: $sm) {
        display: flex;
        flex-direction: row;
        column-gap: $spacer * 2;
      }
      .button {
        @media (min-width: $sm) {
          width: 10.75rem;
        }
      }
      button {
        margin-bottom: $spacer * 2;

        @media (min-width: $sm) {
          margin-bottom: 0;
        }
      }
    }
  }
}