.header {
    display: flex;
    justify-content: center;
    background: $color-bg;
    padding: $spacer * 0.75 $spacer * 2;
    position: sticky;
    top: 0;
    z-index: 10;

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        max-width: $spacer * 140;
        width: 100%;

        @media (min-width: $md) {
            flex-wrap: nowrap;
        }
    }

    &__logo {
        position: relative;
        width: 100%;
        z-index: 9;
    }

    .lang-arrow {
        margin-left: $spacer * 0.5;
        display: inline-block;
        transition: 0.2s;

        svg {
            transform: translate3d(0, 0, 0);
        }
    }

    .lang {
        position: relative;
        display: flex;
        flex-direction: column;

        &:hover .lang-en {
            opacity: 1;
            transition: 0.3s;
            visibility: visible;
            pointer-events: all;
        }

        &:hover .lang-arrow {
            transform: rotate(-180deg);
        }

        .lang__item {
            text-decoration: none;
        }

        .lang-en {
            position: absolute;
            width: 100%;
            top: 100%;
            left: 0;
            padding-top: $spacer;
            opacity: 0;
            transition: 0.3s;
            visibility: hidden;
            pointer-events: none;

            &:hover {
                color: $color-success;
            }
        }
    }

    &__navigation {
        position: absolute;
        top: -100%;
        left: 0;
        height: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: 0.3s ease;

        @media (max-width: $md) {
            overflow-y: auto;
            padding: 80px $spacer * 4 64px;
            top: calc(-100% - 80px - 64px);
        }

        @media (max-width: $xs) {
            padding: 60px $spacer * 2 64px;
        }

        .search-form {
            @media (max-width: $md) {
               display: none;
            }
        }

        .navigation__item {
            @media (max-width: $md) {            
                position: relative;
                font-weight: 700;
                font-size: 32px;
                line-height: 36px;
                font-family: $font-family-gilroy-bold;
                margin-top: 40px;

                &:first-child {
                    margin-top: 0;
                    padding-top: 48px;
                    border-top: 1px solid $color-black;
                }

                &:last-child {
                    padding-bottom: 48px;
                    border-bottom: 1px solid $color-black;
                }
            }
        }

        .navigation-action {
            @media (max-width: $md) {
                justify-content: space-between;
                margin-left: 0;
                padding-top: 40px;
            }
        }
    }

    &__navigation.active {
        @media (max-width: $md) {
            position: fixed;
            top: 0;
            height: 100vh;
            background: $color-white;
            width: 100%;
            transition: 0.3s ease;
            z-index: 5;
        }
    }

    .svg {
        position: absolute;
        top: -10px;
    }

    &__burger-wrap {
        position: relative;
        display: flex;
        width: 48px;
        height: 48px;
        justify-content: center;
        align-items: center;
        border-radius: 24px;
        border: $color-white;
        background-color: $color-white;
        z-index: 9;

        .svg-burger {
            position: absolute;
            top: 0;
            right: 3px;
        }
    }

    &__burger {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        padding: 0;
        background: transparent;
        width: 100%;
        height: 100%;
        outline: transparent;
    }

    &__burger-line {
        display: flex;
        width: 19.2px;
        height: 2.4px;
        background: #000;
        border: none;
        border-radius: 2px;
        transition: all 0.3s 0.3s;
        position: relative;

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            background: #000;
            transition: all 0.3s 0.3s;
        }

        &::before {
            top: 6px;
            animation: anim-before-back 0.3s both;
        }

        &::after {
            bottom: 6px;
            animation: anim-after-back 0.3s both;
        }
    }

    @media (min-width: $xs) {
        padding: $spacer * 2 $spacer * 4;
    }

    @media (min-width: $md) {
        &__navigation {
            flex-direction: row;
            align-items: center;
            position: relative;
            top: initial;
            left: initial;
            height: initial;
            width: initial;
            padding: initial;
            overflow: initial;
        }

        &__burger-wrap {
            display: none;
        }
    }

    @media (min-width: $lg) {
        padding: $spacer * 2.5 $spacer * 10;
    }

    @media (min-width: $xl) {
        &__navigation {
            transform: translateX(182px);
        }
    }
}

.is__active {
    .header__burger-line {
        background: transparent;
        transition: 0.3s;

        &::before {
            top: 0;
            transition: all 0.3s;
            animation: anim-before 0.3s 0.3s both;
        }

        &::after {
            bottom: 0;
            transition: all 0.3s;
            animation: anim-after 0.3s 0.3s both;
        }
    }

    .svg-burger {
        display: none;
    }
}

.header-logo {
    position: relative;
    width: $spacer * 12;
    z-index: 9;

    &__logo {
        width: 100%;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    @media (min-width: $xs) {
        width: $spacer * 17.5;
    }

    @media (min-width: $xl) {
        transform: translateX(-100%);
    }
}

.search-form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;

    @media (max-width: $md) {
        width: calc(100% - (135px + 48px) - (48px + 24px));
        margin-left: auto;
        margin-right: 24px;
    }

    @media (max-width: $xs) {
        width: calc(100%);
        margin-left: auto;
        margin-right: auto;
        order: 3;
        margin-top: 8px;
    }

    &--mobile {
        @media (min-width: $md) {
            display: none;
        }
    }

    &__wrapper {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: 0.4s;
    }

    &__input {
        position: relative;
        width: 100%;
        height: 48px;
        border-radius: 30px;
        background: $color-white;
        border: none;
        box-shadow: none;
        margin: 0;
        padding: 12px 24px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: $color-black;

        &::placeholder {
            font-size: 16px;
            line-height: 24px;
            color: $color-grey-1;
        }
    }

    &__button {
        position: relative;
        z-index: 3;
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color-white;
        border: none;
        padding: 0;
        margin: 0;
        border-radius: 50%;

        svg {
            width: 24px;
            height: 24px;
            transform: translate3d(0, 0, 0);
        }
    }

    &__result {
        display: none;
        position: absolute;
        z-index: 100;
        background-color: $color-white;
        border-radius: 8px;
        width: 100%;
        left: 0;
        top: calc(100% + 8px);
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;

        ul {
            padding: 4px 0;
        }

        li {

            a {
                display: block;
                text-decoration: none;
                width: 100%;
                padding: 8px 16px;
                transition: 0.2s;

                &:hover {
                    background: $color-grey-3;
                }

                b {
                    font-weight: 700;
                }
            }
        }
    }

    &.active {
        .search-form__wrapper {

            @media (min-width: $md) {
                width: 700px;
                max-width: calc(100vw - 140px - 2 * 32px - 235px);
            }
            
            @media (min-width: $xl) {
                width: 1022px;
            }
        }

        .search-form__result {
            &.active {
                display: block;
            }
        }
    }

    // &:hover {
    //     .search-form__wrapper {

    //         @media (min-width: $md) {
    //             width: 700px;
    //             max-width: calc(100vw - 140px - 2 * 32px - 235px);
    //         }
            
    //         @media (min-width: $xl) {
    //             width: 1022px;
    //         }
    //     }
    // }
}



// Animations for burger menu
@keyframes anim-before-back {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes anim-after-back {
    0% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes anim-before {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@keyframes anim-after {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-45deg);
    }
}
