header.header
	.header__container
		.header-logo
			a(href="index.html")
				img.header-logo__logo(src="./img/logo.svg" alt="lang uk")
		.header__navigation
			nav.navigation
				span.navigation__item
					a.navigation__link.underline-animation(href="products.html") Продукти
				span.navigation__item
					a.navigation__link.underline-animation(href="about-us.html") Про нас
				span.navigation__item
					a.navigation__link.underline-animation(href="manifest.html") Маніфест
				span.navigation__item
					a.navigation__link.underline-animation(href="contact-us.html") Контакти
			.navigation-action
				.navigation-action__item
					span UA
				.navigation-action__item
					//span O
					.header-input
						input.header-input__input(type="text" placeholder="Пошук")
						span.header-input__icon
							include ../../svg/search.svg
				.navigation-action__item
					a.header-product-action(href="#") Доповнити продукт

		.header__burger-wrap
			button.header__burger
				span.header__burger-line
