header.header
	.header__container
		.header-logo
			a(href="index.html")
				img.header-logo__logo(src="./img/logo.svg" alt="lang uk")
		.header__navigation
			nav.navigation
				span.navigation__item
					a.navigation__link.underline-animation(href="products.html") Продукти
						span.svg
							include ../../svg/star.svg
				span.navigation__item
					a.navigation__link.underline-animation(href="services.html") Сервіси
				span.navigation__item
					a.navigation__link.underline-animation(href="about-us.html") Про нас
				span.navigation__item
					a.navigation__link.underline-animation(href="manifest.html") Маніфест
				span.navigation__item
					a.navigation__link.underline-animation(href="contact-us.html") Контакти
			.navigation-action
				.navigation-action__item.lang
					a(href="#").lang__item UA
						span.lang-arrow
							include ../../svg/vector_1.svg
					a(href="#").lang__item.lang-en EN


				.navigation-action__item
					//span O
					form.header-input(action="/search-result.html")
						input.header-input__input(type="text" placeholder="Пошук")
						.live-search
							ul
								li
									a.text-m(href="") Доповнити продукт
								li
									a.text-m(href="") Доповнити продукт
								li
									a.text-m(href="") Доповнити продукт
								li
									a.text-m(href="") Доповнити продукт
							.result-text
								a(href="search-result.html")
						button.header-input__icon(type="submit")
							include ../../svg/search.svg
				.navigation-action__item
					a.button.button-wave.button-wave--produckt(href="add-product.html") Доповнити продукт
		.mobile-input
			input.header-input__input(type="text" placeholder="Пошук")
			.live-search
				ul
					li
						a.text-m(href="") Доповнити продукт
					li
						a.text-m(href="") Доповнити продукт
					li
						a.text-m(href="") Доповнити продукт
					li
						a.text-m(href="") Доповнити продукт
				.result-text
					a(href="search-result.html")
			span.header-input__icon
				include ../../svg/search.svg
		.header__burger-wrap
			button.header__burger
				span.header__burger-line
				span.svg-burger
					include ../../svg/star.svg
