.consumers {
  margin-top: $spacer * 8;
  @media (min-width: $sm) {
    margin-top: $spacer * 13;
  }
  @media (min-width: $md) {
    margin-top: $spacer * 20;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: $spacer ;
    margin-bottom: $spacer * 2 ;

    @media (min-width: $sm) {
      margin-top: $spacer * 3;
      margin-bottom: $spacer * 3 ;
    }
    @media (min-width: $md) {
      margin-bottom: $spacer * 8;
    }
  }

  &__card {
    width: $spacer * 20;
    height: $spacer * 15;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $spacer * 2;
    border: 1px solid $color-black;
    background-color: $color-white;
  }

  &__logo {
    object-fit: contain;
  }

  @media (min-width: $md) {
    &__card {
      width: $spacer * 23;
      height: $spacer * 15;
    }
  }

}