.products {
  margin-top: $spacer * 8.25;

  &__actions{
    width: 100%;
  }

  @media (min-width: $sm) {
    margin-top: $spacer * 13;
  }

  @media (min-width: $md) {
    margin-top: $spacer * 20;
  }

}