.slogan {
  margin-top: $spacer * 8;
  margin-bottom: $spacer * 8;

  &__title {
    //margin-top: $spacer * 6;
    text-align: center;
  }

  &__text {
    text-align: center;
  }

  &__image {
    display: flex;
    width: 280px;
    margin-top: $spacer * 3;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $xs) {
    margin-bottom: $spacer * 13;
    &__image {
      width: $spacer * 64.5;
    }
  }

  @media (min-width: $sm) {
    &__title {
      width: $spacer * 72;
      text-align: left;
    }
    &__text {
      width: $spacer * 56;
      text-align: left;
    }
    &__image {
      margin-top: $spacer * 6;
    }
  }

  @media (min-width: $md) {
    &__title {
      margin-top: $spacer * 6;
    }
    &__image {
      margin-top: initial;
      justify-content: end;
    }
  }
}