// 404/404.pug
.page__error
    .error__content
        .error__image
            img(src="./img/error_404.svg")
        a(href="index.html").button.button-wave.spacer__item Повернутися на головну
// /404/404.pug